---
name: CI

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

jobs:
  formatting-quality-and-build:
    name: Formatting, Quality and Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Format
        run: cargo fmt --check

      - name: Clippy
        run: cargo clippy --all-targets -- -D clippy::all

      - name: Test
        run: cargo test --all-targets

      - name: Build
        run: cargo build
